form_letter = %{
  <html>
  <head>
    <title>Thank You!</title>
  </head>
  <body>
    <table>
      <tr><th>RegDate</th><th>Name</th><th>Email</th><th>Phone</th><th>Address</th><th>Disctrict</th></tr>
      <tr><td></td></tr>
    </table>
  </body>
  </html>
}
